{% extends "header_base.html" %}
{% block content %}
    <main>
        <div id="mostrarImagenDiv" style="display: none;">
            <img id="image" src="placeholder" alt="Imagen de la actividad" width="800" height="600"><br>
            <button id="cerrar-btn" onclick="cerrarImagen()" style="text-align: center;">Cerrar</button>
        </div>
        <div id="containerActividades" class="main-container">
            <h2>Listado de Actividades</h2>
            <ul class="lista-actividades">
                <li>
                    <a class="clickable" onclick="mostrarActividad('actividad1')">Actividad 1</a>
                    <div class="actividad" id="actividad1" style="display: none;">
                        <table class="table">
                            <tr>
                                <th>Inicio</th>
                                <th>Término</th>
                                <th>Comuna</th>
                                <th>Sector</th>
                                <th>Tema</th>
                                <th>Organizador</th>
                                <th>Fotos</th>
                            </tr>
                            <tr>
                                <td>2025-10-27 08:00 PM</td>
                                <td>-</td>
                                <td>Maipú</td>
                                <td>3 Poniente</td>
                                <td>juegos</td>
                                <td>Scarlet</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>Fotos</th>
                                <td colspan="6" style="text-align:center; ">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/Silksong_cover.png')" src="../static/img/Silksong_cover.png" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/escape_from_tarkov.jpg')" src="../static/img/escape_from_tarkov.jpg" alt="Foto de la actividad" width="320" height="240">
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <a class="clickable" onclick="mostrarActividad('actividad2')">Actividad 2</a>
                    <div class="actividad" id="actividad2" style="display: none;">
                        <table class="table">
                            <tr>
                                <th>Inicio</th>
                                <th>Término</th>
                                <th>Comuna</th>
                                <th>Sector</th>
                                <th>Tema</th>
                                <th>Organizador</th>
                                <th>Fotos</th>
                            </tr>
                            <tr>
                                <td>2025-07-07 08:00 PM</td>
                                <td>2025-07-07 11:00 PM</td>
                                <td>Santiago</td>
                                <td>FCFM</td>
                                <td>musica</td>
                                <td>Tom York</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>Fotos</th>
                                <td colspan="6" style="text-align:center;">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/Spotify_logo.png')" src="../static/img/Spotify_logo.png" alt="Foto de la actividad" width="320" height="240">
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <a class="clickable" onclick="mostrarActividad('actividad3')">Actividad 3</a>
                    <div class="actividad" id="actividad3" style="display: none;">
                        <table class="table">
                            <tr>
                                <th>Inicio</th>
                                <th>Término</th>
                                <th>Comuna</th>
                                <th>Sector</th>
                                <th>Tema</th>
                                <th>Organizador</th>
                                <th>Fotos</th>
                            </tr>
                            <tr>
                                <td>2025-09-10 07:00 PM</td>
                                <td>2025-09-10 09:00 PM</td>
                                <td>Ñuñoa</td>
                                <td>Plaza Ñuñoa</td>
                                <td>cine</td>
                                <td>Tintin</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>Fotos</th>
                                <td colspan="6" style="text-align:center; ">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/absolute_Cinema.webp')" src="../static/img/absolute_Cinema.webp" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/cine1.webp')" src="../static/img/cine1.webp" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/cine2.webp')" src="../static/img/cine2.webp" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/cine3.webp')" src="../static/img/cine3.webp" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/cine4.webp')" src="../static/img/cine4.webp" alt="Foto de la actividad" width="320" height="240">
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <a class="clickable" onclick="mostrarActividad('actividad4')">Actividad 4</a>
                    <div class="actividad" id="actividad4" style="display: none;">
                        <table class="table">
                            <tr>
                                <th>Inicio</th>
                                <th>Término</th>
                                <th>Comuna</th>
                                <th>Sector</th>
                                <th>Tema</th>
                                <th>Organizador</th>
                                <th>Fotos</th>
                            </tr>
                            <tr>
                                <td>2025-08-01 10:00 AM</td>
                                <td>2025-08-01 01:00 PM</td>
                                <td>Las Condes</td>
                                <td>Centro Cultural</td>
                                <td>arte</td>
                                <td>Reve</td>
                                <td>1</td>  
                            </tr>
                            <tr>
                                <th>Fotos</th>
                                <td colspan="6" style="text-align:center; ">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/es_arte.jpg')" src="../static/img/es_arte.jpg" alt="Foto de la actividad" width="320" height="240">
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <a class="clickable" onclick="mostrarActividad('actividad5')">Actividad 5</a>
                    <div class="actividad" id="actividad5" style="display: none;">
                        <table class="table">
                            <tr>
                                <th>Inicio</th>
                                <th>Término</th>
                                <th>Comuna</th>
                                <th>Sector</th>
                                <th>Tema</th>
                                <th>Organizador</th>
                                <th>Fotos</th>
                            </tr>
                            <tr>
                                <td>2025-05-07 05:00 PM</td>
                                <td>2025-05-07 10:00 PM</td>
                                <td>Maipú</td>
                                <td>3 Poniente</td>
                                <td>vtubers</td>
                                <td>Lucas</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th>Fotos</th>
                                <td colspan="6" style="text-align:center; ">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/Dokibird_grande.jpg')" src="../static/img/Dokibird_pequeña.jpg" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/finana_grande.jpg')" src="../static/img/finana_pequeña.jpg" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/nimi_grande.jpg')" src="../static/img/nimi_pequeña.jpg" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/GG_grande.jpg')" src="../static/img/GG_pequeña.jpg" alt="Foto de la actividad" width="320" height="240">
                                    <img class="clickable" onclick="mostrarImagen('../static/img/CC_grande.jpg')" src="../static/img/CC_pequeña.jpg" alt="Foto de la actividad" width="320" height="240">
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <script src="../static/js/actividades.js"></script>
{% endblock %}