{% extends "header_base.html" %}
{% block content %}
    <main>
        <div id="mostrarImagenDiv" style="display: none;">
            <img id="image" src="placeholder" alt="Imagen de la actividad" width="800" height="600"><br>
            <button id="cerrar-btn" onclick="cerrarImagen()" style="text-align: center;">Cerrar</button>
        </div>
        <div id="containerActividades" class="main-container">
            <h2>Listado de Actividades</h2>
            <ul class="lista-actividades">
                {% if actividades_on_page %}
                    {% for actividad in actividades_on_page %}
                        <li>
                            <a class="clickable" onclick="mostrarActividad('actividad{{ loop.index + 5*(page - 1) }}')">Actividad {{ loop.index + 5*(page - 1) }}</a>
                            <div class="actividad" id="actividad{{ loop.index + 5*(page - 1) }}" style="display: none;">
                                <table class="table">
                                    <tr>
                                        <th>Inicio</th>
                                        <th>Término</th>
                                        <th>Comuna</th>
                                        <th>Sector</th>
                                        <th>Tema</th>
                                        <th>Organizador</th>
                                        <th>Fotos</th>
                                    </tr>
                                    <tr>
                                        <td>{{ actividad.Inicio }}</td>
                                        <td>{{ actividad.Termino }}</td>
                                        <td>{{ actividad.Comuna }}</td>
                                        <td>{{ actividad.Sector }}</td>
                                        <td>{{ actividad.Tema }}</td>
                                        <td>{{ actividad.Organizador }}</td>
                                        <td>
                                            PlaceHolder
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                
            </ul>
            <div class="pagination change-page">
                {% if page > 1 %}
                    <button class="page-btn" onclick="location.href='{{ url_for('actividades', page=page-1) }}'">Anterior</button>
                {% endif %}
                <span style="font-weight: bold;">Pagina {{page}}</span>
                {% if total_pages > page %}
                    <button class="page-btn" onclick="location.href='{{ url_for('actividades', page=page+1) }}'">Siguiente</button>
                {% endif %}
            </div>
            <div class="total-actividades">
                {% if actividades_on_page %}
                    <p>Total de Actividades: {{ total_actividades }}</p>
                {% else %}
                    <p>No hay actividades para mostrar.</p>
                {% endif %}
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/actividades.js') }}"></script>
{% endblock %}