{% extends "header_base.html" %}
{% block content %}
    <main>
        <div class="main-container">
            <h2>Estadisticas</h2>

            <ul class="lista-actividades">
                <li>
                    <div>Actividades por día</div>
                    <div id="line-chart" class="chart-box"></div>
                </li>
                <li>
                    <div>Total de actividades por Categoría</div>
                    <div id="pie-chart" class="chart-box"></div>
                </li>
                <li>
                    <div>Actividades por mes</div>
                    <div id="bar-chart" class="chart-box"></div>
                </li>
            </ul>
            <button class="page-btn" onclick="location.href='{{ url_for('index') }}'">Volver al Inicio</button>
        </div>
    </main>
{% endblock %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="{{url_for('static', filename='js/estadisticas.js')}}"></script>
{% endblock %}

