{% extends "header_base.html" %}
{% block content %}
    <main>
        <div class="main-container">
            <h2>Estadisticas</h2>
            <ul class="lista-actividades">
                <li>
                    <div>Actividades por día</div>
                    <img class="grafico" src="../static/img/Actividades_por_dia.png" alt="Gráfico de actividades por día">
                </li>
                <li>
                    <div>Total de actividades por Categoría</div>
                    <img class="grafico" src="../static/img/Actividades_por_categoria.png" alt="Gráfico de total de actividades por categoría">
                </li>
                <li>
                    <div>Actividades por mes</div>
                    <img class="grafico" src="../static/img/Actividades_hora_por_Mes.png" alt="Gráfico de actividades por mes">
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
